Navbar dude
- <a href="{{ path('project_core_hardcoded_get') }}?id=1"> Get URI </a> {# V1 get #}
- <a href="{{ path('project_core_hardcoded_post') }}">Post URI</a> {# V1 post #}
- <a href="{{ path('project_core_user_agent') }}">User Agent</a> {# V1 user agent #}
<br>
<hr>